.client-heading{
    text-align: center;
    background-color: aquamarine;
}

.client-item-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.client-item{
    border-radius: 50px;
    background-color: rgba(241,76,69,255) ;
    width: 400px;

}
.client-image{
    width: 100%;
    height: 200px;
}

