.feedback-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
  background: #3f006f0f;
}

.feedback-heading {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
  color: red;
}

.feedback-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center items horizontally */
  width: 100%;
  padding: 0 10px; /* Add padding to the sides */
  box-sizing: border-box; /* Include padding in width calculation */
}

.feedback-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 10px; /* Reduce margin for smaller screens */
  background-color: #f5f5f5;
}

@media (max-width: 768px) {
  .feedback-card {
    width: 90%; /* Take almost full width on smaller screens */
    margin: 10px 0; /* Adjust margin for smaller screens */
  }
}

.feedback-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
  object-fit: cover;
}

.feedback-quote {
  font-style: italic;
  text-align: center;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.feedback-author {
  text-align: center;
  margin-top: 10px;
}

.feedback-author p {
  margin: 0;
}

.feedback-position {
  font-size: 0.9em;
  font-weight: bold;
  color: #666;
}

.feedback-des {
  font-size: 1em;
  color: #333;
  text-align: center;
  margin-top: 10px;
  line-height: 1.5;
}
