
.navBarMain {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.navBarLogo {
    height: 50px;
    width: 200px;
    animation: fadeIn 2s ease-in-out;
}